<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content size="full">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d39025.286056068384!2d106.8031897758104!3d-6.577787912607357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sid!4v1644635500036!5m2!1sen!2sid"
    class="maps"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
  ></iframe>
  <ion-card>
    <ion-card-content>
      <p>Address: Sindang Barang, VIII</p>
      <p>Complement: Apto 222</p>
      <p>Neighborhood: neighborhood</p>
      <p>Zip code: 16772</p>
      <p>City name: Bogor</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating"> Notes </ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button color="success" size="full">Create Pickup Call</ion-button>
</ion-content>
